exclude: \.idea/
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    # https://pre-commit.com/hooks.html
    rev: v4.1.0
    hooks:
    -   id: check-ast
        description: "simply checks whether the files parse as valid python."
    -   id: check-yaml
        description: "checks yaml files for parseable syntax."
    -   id: check-toml
        description: "checks toml files for parseable syntax."
    -   id: check-json
        description: "checks json files for parseable syntax."
    -   id: pretty-format-json
        description: "sets a standard for formatting json files."
    -   id: check-added-large-files
        description: "prevents giant files from being committed."
    -   id: check-builtin-literals
        description: "requires literal syntax when initializing empty or zero python builtin types."
    -   id: end-of-file-fixer
        description: "ensures that a file is either empty, or ends with one newline."
    -   id: trailing-whitespace
        description: "trims trailing whitespace.."
# black
-   repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
    -   id: black
    -   id: black-jupyter
# isort
-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        files: (^src/|^tests/)
        additional_dependencies:
        - flake8-annotations
        - flake8-black
        - flake8-bugbear
        - flake8-comprehensions
        - flake8-docstrings
        - flake8-import-order
        - flake8-mutable
        - flake8-nb
        - flake8-pyi
        - flake8-rst
        - flake8-rst-docstrings
# mypy
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v0.941
#    hooks:
#      - id: mypy
#        files: (^src/|^tests/)
#        args:
#        -   --warn-unused-configs
#        -   --ignore-missing-imports
#        additional_dependencies:
#        -   numpy==1.21
#        -   types-PyYAML
#        -   types-backports
#        -   types-protobuf
#        -   types-pyOpenSSL
#        -   types-redis
#        -   types-requests
#        -   types-setuptools
#        -   types-six
#        -   types-tabulate
#        -   types-toml
#        -   types-futures
#        -   types-cryptography
#        -   types-enum34
#        -   types-ipaddress
-   repo: local
    hooks:
    -   id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        description: Clear output cells in Jupyter notebooks
        files: 'dev/.*\.ipynb$'
        stages: [commit]
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace
