# These files will be included in the sdist.
# At installation time, only those files will be kept that are also part of a 
# python package (folder with __init__.py). A bdist_wheel will only contain
# these to begin with.
# This is intended behaviour and as of the time of writing there is no way to 
# include non-package files in the wheel, cf. setuptools documentation v57.0.0

include MANIFEST.in
include LICENSE
include tsdm/VERSION

include requirements.txt

recursive-include tsdm *.*
recursive-include docs *.*
recursive-include test *.*

prune */__pycache__
global-exclude *.o *.so *.dylib *.a .git *.pyc *.swp
