flake8                 # Wrapper for PyFlakes and pycodestyle
flake8-annotations     # ANN:  Flake8 Type Annotation Checking
flake8-bugbear         # B,B9: A plugin for Flake8 finding likely bugs and design problems in your program
flake8-black           # BLK:  Flake8 plugin to run black for checking Python coding style
flake8-comprehensions  # C400: A flake8 plugin to help you write better list/set/dict comprehensions
flake8-docstrings      # D:    A plugin to flake8 to include checks provided by pep257
flake8-import-order    # I:    Flake8 plugin that checks import order against various Python Style Guides
flake8-mutable         # M:    flake8 extension for mutable default arguments
flake8-nb              # E, W: flake8 checking for jupyter notebooks
flake8-rst             # RST:  Allows run flake8 on code snippets in docstrings or RST files
flake8-rst-docstrings  # RST:  flake8 plugin to validate Python docstrings as reStructuredText (RST)
flake8-pyi             # Y:    A plugin for Flake8 that
